.categroy-card {
    max-width: 200px !important;
}

@media screen and (max-width: 900px) {
    .categroy-card {
        max-width: 25% !important;
    }
}

@media screen and (max-width: 700px) {
    .categroy-card {
        max-width: 33% !important;
    }
}

@media screen and (max-width: 600px) {
    .categroy-card {
        max-width: 50% !important;
    }
}

@media screen and (max-width: 500px) {
    .categroy-card {
        max-width: 100% !important;
    }
}